<!DOCTYPE html>
<html ng-app="DesinationDoc" ng-controller="DesinationDoc">

<head>
	<!-- Angular Ting -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="text.css">
</head>

<body>

<div class="jumbotron">
	  <div class="display-4" style='text-align: center;'>
	  	<p>Welcome to DestinationDoc,</p>
	  	<p>What's bothering you? Tell us how you're feeling</p>
	 </div>

	  <hr class="my-4"> 
	  <p style="text-align: center;">We'll use our Software to help you</p>

	 <div style="padding: 10px 10px; text-align: center;">
	  	<textarea rows="3" cols="50" id="text" ng-model="text"></textarea>
	</div>

		<div style="text-align: center;">
		  <button class="btn btn-primary btn-lg" href="#" ng-click="myFunc()" role="button" ng-click="myFunc()">Submit</button>
		</div>

<div id="reply" style="text-align: center;" class="jumbotron">
	<p>{{reply}}</p>
	<p style="text-size: 15px;">{{data2}}</p>
		<a style="text-size: 25px;" id="NearestDoctor" href = "https://www.google.com/maps/place/47%C2%B037'19.6%22N+122%C2%B021'30.6%22W/@47.6221197,-122.3606863,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d47.6221161!4d-122.3584976"></a>
		<a style="text-size: 25px;" id="NearestDentist" href = "https://www.google.com/maps/place/47%C2%B037'04.5%22N+122%C2%B020'53.7%22W/@47.6179083,-122.3504477,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d47.6179047!4d-122.348259"></a>
		<a style="text-size: 25px;" id="NearestPsych" href = "https://www.google.com/maps/place/47%C2%B033'38.9%22N+122%C2%B023'07.7%22W/@47.5548817,-122.3888404,14.62z/data=!4m5!3m4!1s0x0:0x0!8m2!3d47.5608177!4d-122.3854828"></a>
		<a style="text-size: 25px;" id="NearestPhysio" href = "https://www.google.com/maps/place/47%C2%B041'08.4%22N+122%C2%B020'14.4%22W/@47.6856725,-122.3395224,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d47.6856689!4d-122.3373337"></a>
</div>

<div class="footer">
  <p>Made by Parth Sareen, Kathrine VF, Alex Jabbour and Rahul</p>
  	</footer>
</div>

<script type="text/javascript">

var DesinationDoc = angular.module('DesinationDoc', []);
  DesinationDoc.controller('DesinationDoc', function($scope, $http) {
    $scope.count = 0;

    $scope.myFunc = function() {

      $scope.count++;
    	var textArray = $scope.text.split(" ");
      console.log($scope.count);
      console.log($scope.text);
      console.log(textArray);

    $http.get("https://www.jsonstore.io/71fc6d609168087b1bd76dea68e7694b4f451bfa7bf7ab5ebb4717dd15bb65d8")
  .then(function(response) {
    $scope.data1 = JSON.parse(response.data.result);
    console.log($scope.data1);
  });

   $http.get("https://www.jsonstore.io/039e0e4f386c305904fa8f4ff8b2f4953466ffb2537854a943978dba2fa3336e")
  .then(function(response) {
    $scope.data2 = "According to cisco's API, the current wait time is " + response.data.result + " minutes";
    console.log($scope.data2);
  });

      for(i=0; i < textArray.length; i++) {
      	if (textArray[i] == "headache" || textArray[i] == "Doctor" || textArray[i] == "doctor" || textArray[i] == "pain" || textArray[i] == "nausea" || textArray[i] == "sick" || textArray[i] == "neauseaus" || textArray[i] == "hurt") {
      		$scope.reply = "Looks like you may need to see a doctor";
      		document.getElementById("NearestDoctor").innerHTML = "Using Bing's API we found a Doctor which is closest to you. The doctor's office is called Forefront. Get well soon!"; 
      	}

        if (textArray[i] == "toothache" || textArray[i] == "dentist" || textArray[i] == "Dentist"){
      		$scope.reply = "You have a toothache? Looks like you may need to see a dentist";
      		document.getElementById("NearestDentist").innerHTML = "Using Bing's API we found a Dentist which is closest to you. The Dentist clinic is Queen Anne";

      	}
      	if (textArray[i] == "depression" || textArray[i] == "anxiety" || textArray[i] == "sad" || textArray[i] == "overthinking" || textArray[i] == "motivation"){
      		$scope.reply = "You're not feeling well? Looks like you may need to see a Psychiatrist";
      		document.getElementById("NearestPsych").innerHTML = "Using Bing's API we found a Psychiatrist which is closest to you. The place is called Highline Therapy Services";

    			
      	}
      	if (textArray[i] == "muscle" || textArray[i] == "sore" || textArray[i] == "muscles" || textArray[i] == "move" || textArray[i] == "back" || textArray[i] == "shoulder" || textArray[i] == "legs" || textArray[i] == "numb" || textArray[i] == "leg"){
      		$scope.reply = "Looks like you may need to see a Physiotherapist";
      		document.getElementById("NearestPhysio").innerHTML = "Using Bing's API we found a Physiotherapist which is closest to you, their called Physiotherapy Associates."; 	    			
      	}
      }
  };


    
  });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	</body>
</html>